{{>layouts/header}} <!-- 1. 헤더 템플릿 삽입 -->
    <div class = "bg-primary text-white p-5"> <!-- 2. 디자인 적용 -->
        <h1>{{nickname}}님, 다음에 또 만나요!</h1>
    </div>
{{>layouts/footer}} <!-- 1. 푸터 템플릿 삽입 -->